<!-- <div>
  <app-little 
    [text]="'Directives are classes that add additional behavior to elements in your Angular applications. Use Angulars built-in directives to manage forms, lists, styles, and what users see.'"
    (paraClk)="onParaClk($event)">
  </app-little>
</div> -->
<!-- <div>
  <app-abc></app-abc>
  <app-pqr></app-pqr>
</div> -->

<!-- <div>
  <p> Date is {{date | date:"dd-MMM-yyyy" }} </p>
  <p> Amount is {{amount | currency:"INR"}} </p>
  <p> Chaining of Pipes {{title | uppercase | slice:0:5}} </p>
  <p> Custom Pipe {{title | splitter:200}} </p>
</div> -->
<div>
  <input type="button" (click)="onBtnClk()" value="Okay">
</div>
